{
  "mcpServers": {
    "search": {
      "url": "{{ onepasswordRead "op://chezmoi/all/searxng-mcp endpoint" }}",
      "directTools": [
        "searxng_web_search",
        "web_url_read"
      ]
    },
    "microsoft-learn": {
      "url": "https://learn.microsoft.com/api/mcp"
    }
  }
}
