{
  "providers": {
    "openrouter": {
      "baseUrl": "https://openrouter.ai/api/v1",
      "api": "openai-completions",
      "apiKey": "{{ onepasswordRead "op://Private/OpenRouter/key" }}"
    },
    "llama.cpp": {
      "baseUrl": "{{ onepasswordRead "op://chezmoi/all/llama.cpp endpoint" }}",
      "api": "openai-completions",
      "apiKey": "llama",
      "models": [
        {
          "id": "Gemma 4 26B A4B",
          "contextWindow": 262144
        },
        {
          "id": "Qwen 3.6 35B A3B General",
          "contextWindow": 262144
        },
        {
          "id": "Qwen 3.6 35B A3B Code",
          "contextWindow": 262144
        }
      ]
    }
  }
}
