{
  "providers": {
    "openrouter": {
      "baseUrl": "https://openrouter.ai/api/v1",
      "api": "openai-completions",
      "apiKey": "{{ onepasswordRead "op://Private/OpenRouter/key" }}"
    },
    "llama.cpp": {
      "baseUrl": "{{ onepasswordRead "op://chezmoi/all/llama.cpp endpoint" }}",
      "api": "openai-completions",
      "apiKey": "llama",
      "models": [
        {
          "id": "qwen/qwen3.6-35B-A3B:code",
          "contextWindow": 262144,
          "input": ["text", "image"]
        }
      ]
    }
  }
}
